absl-py==2.3.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.8
appdirs==1.4.4
ase==3.23.0
astropy @ file:///home/conda/feedstock_root/build_artifacts/astropy_1680107841959/work
async-timeout==5.0.1
attrs==25.3.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1666788425425/work
cachetools==5.5.2
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1670926143601/work
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018376978/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1718096432006/work
charset-normalizer==2.1.1
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1695554215751/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dill==0.4.0
docker-pycreds==0.4.0
dotenv==0.9.9
ducc0 @ file:///home/conda/feedstock_root/build_artifacts/ducc0_1713287633842/work
einops==0.8.1
emmet-core==0.68.0
eval_type_backport==0.3.1
filelock==3.13.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1720359039462/work
frozenlist==1.5.0
fsspec==2024.6.1
future==1.0.0
GDAL @ file:///home/conda/feedstock_root/build_artifacts/gdal-split_1675347238596/work/build/swig/python
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.43.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hydra-core==1.1.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
Jinja2==3.1.6
joblib==1.4.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379923772/work
latexcodec==3.0.0
lightning==2.3.3
lightning-utilities==0.11.9
llvmlite==0.41.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1695076686224/work
mdurl==0.1.2
-e git+https://gitlab.com/bigd4/hotpp.git@baba411ee9a2f2e5146f8b3237664bda18fb6284#egg=miaonet
monty==2023.9.25
mp-api==0.35.1
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
multiprocess==0.70.18
munkres==1.1.4
narwhals==1.42.1
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1668678829651/work
networkx==3.0
numba==0.58.1
numpy==1.24.1
nvidia-ml-py==13.590.44
oauthlib==3.3.1
omegaconf==2.1.2
p_tqdm==1.4.2
packaging==24.2
palettable==3.3.3
pandas==2.0.3
pathos==0.3.4
pathtools==0.1.2
pillow==10.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==6.5.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
pox==0.3.6
ppft==1.7.7
prettytable==3.11.0
propcache==0.2.0
protobuf==4.25.8
psutil==7.1.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybtex==0.25.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.10.6
pydantic_core==2.27.2
pyDeprecate==0.3.0
pyecharts==2.0.9
pyerfa @ file:///home/conda/feedstock_root/build_artifacts/pyerfa_1756821329286/work
pyg-lib==0.4.0+pt21cu118
Pygments==2.19.2
pygmt @ file:///home/conda/feedstock_root/build_artifacts/pygmt_1680302950084/work
pymatgen==2023.8.10
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1680037520364/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
pyshtools @ file:///home/conda/feedstock_root/build_artifacts/pyshtools_1693227881580/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
pytorch-lightning==1.3.8
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
pyxtal==0.6.0
PyYAML==5.4.1
requests==2.28.1
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.8
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.47.0
setproctitle==1.3.7
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1675079591929/work
simplejson==3.20.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.2
spglib==2.4.0
swanlab==0.7.4
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==2.1.0+cu118
torch-cluster==1.6.3+pt21cu118
torch-scatter==2.1.2+pt21cu118
torch-sparse==0.6.18+pt21cu118
torch-spline-conv==1.2.2+pt21cu118
torch_geometric==2.4.0
torchaudio==2.1.0+cu118
torchmetrics==0.7.0
torchvision==0.16.0+cu118
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1732497199771/work
triton==2.1.0
typing_extensions==4.12.2
tzdata==2025.2
uncertainties==3.2.3
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847997538/work
urllib3==1.26.13
wandb==0.15.0
wcwidth==0.2.14
Werkzeug==3.0.6
wrapt==2.0.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1674166302925/work
yarl==1.15.2
zipp==3.20.2
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296101734/work
